@import "tailwindcss";


@theme {
    --font-Lato: "Lato", sans-serif; 
    --shadow-newMade: 0 28px 30px rgba(99, 122, 166, 0.05);
    --shadow-new2: 0px 0px 20px 2px rgba(0, 0, 0, 0.05);
    --shadow-new3: 0px 4px 25px 15px rgba(218, 246, 235, 0.3);
}